<h1 class="title">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons" id="contacts">
  {% for contact_point in site.data.contact-points %}
    <a class="social-link {{ contact_point.class }}" aria-label="My {{ contact_point.name }}" href="{{ contact_point.link }}">
      <div class="social">
        <svg class="social-svg" viewBox="0 0 48 48">
          <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ contact_point.icon | prepend: site.baseurl }}"></use>
        </svg>
      </div>
    </a>
  {% endfor %}
</div>
